html
  head
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/dist/app.bundle.css")
    script(src="/dist/app.vendor.js")
    script(src="/dist/app.bundle.js")
  body
    block content